{% extends 'base.html.twig' %}

{% block title %}order index{% endblock %}

{% block body %}
    <h1>order index</h1>
    <a href="{{ path('order_search') }}">search</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Address1</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Country</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Deleted</th>
                <th>Added date</th>
                <th>Modified date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ order.address1 }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.postcode }}</td>
                <td>{{ order.country }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.deleted }}</td>
                <td>{{ order.date |date('d-m-Y') }}</td>
                <td>{{ order.lastModified |date('d-m-Y H:i') }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(orders) }}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Create new</a>
{% endblock %}
