{% extends 'base.html.twig' %}

{% block title %}customer{% endblock %}

{% block body %}
  <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Address1</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Country</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Deleted</th>
                <th>Added date</th>
                <th>Modified date</th>
            </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.id }}</td>
                <td>{{ result.customer }}</td>
                <td>{{ result.address1 }}</td>
                <td>{{ result.city }}</td>
                <td>{{ result.postcode }}</td>
                <td>{{ result.country }}</td>
                <td>{{ result.amount }}</td>
                <td>{{ result.status }}</td>
                <td>{{ result.deleted }}</td>
                <td>{{ result.date |date('d-m-Y') }}</td>
                <td>{{ result.lastModified |date('d-m-Y H:i') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no search found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}